<nav class='navbar navbar-expand navbar-dark bg-dark nav-top-container'>
    <div class='nav-container container justify-content-between'>
        <!-- Add the logo image -->
        <a class='navbar-brand' href='/'>
        <img
            class="ninja-icon nav-logo"
            src='/assets/logo/blue_ninja.png'
            alt='Productivity Ninja Logo'
        />
        </a>
        
        <div class="title fs-1">Productivity Ninja</div>
        <ul class='navbar-nav'>
            <li class='nav-item m-2 d-flex align-items-center'>
            <a class='nav-link' href='/'>Dashboard</a>
            </li>
            <li class='nav-item m-2'>
            <button id="logout" class='btn btn-outline-light button'>Logout</button>
            </li>
        </ul>
    </div>
</nav>
<script src="/js/logout.js"></script>