<nav class='navbar navbar-expand navbar-dark bg-danger'>
        <div class='container'>
          <!-- Add the logo image -->
          <a class='navbar-brand' href='#'>
            <img
              src='/assets/logo/Black_and_Red_Ninja.png'
              alt='Productivity Ninja Logo'
              height='40'
            />
          </a>
          <ul class='navbar-nav ml-auto'>
            {{#if logged_in}}
              <li class='nav-item'>
                <a class='nav-link' href='/'>Dashboard</a>
                <button id="logout" class='btn btn-outline-light'>Logout</button>
              </li>
            {{else}}
              <li class='nav-item'>
                <a class='nav-link' href='/login'>Login</a>
                <a class='nav-link' href='/signup'>Signup</a>
                
              </li>
            {{/if}}
          </ul>
        </div>
      </nav>
      <script src="./js/logout.js"></script>