<div class='container projects project-list'>
  <div class='container text-center mt-5'>
    <h2 class='fs-1'>Current Projects</h2>
    <div class='row row-cols-2'>
      {{#each projects as |project|}}
        <div class='col col-lg-6 col-sm-12'>
          <a
              class='container mt-5 btn btn-outline-light button btn-lg'
              href='/api/projects/{{project.id}}'
            >{{project.name}}
            {{#if project.status}}
              <span style="color: green;"> &#x2714;</span>
            {{/if}}
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<div
  class='container project-containers-create mb-5 mt-5 d-flex align-item-center justify-content-center'
>
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2 m-auto p-auto'>
      <form class='form add-project-form'>
        <h1 class='text-center'>Create a New Project</h1>
        <div class='form-group mt-3'>
          <label for='project-name'>Project Name</label>
          <input
            class='form-input i-box form-control input-lg'
            type='text'
            id='project-name'
            name='project-name'
          />
        </div>
        <div class='form-group mt-3'>
          <button
            type='submit'
            class='btn btn-outline-light button btn-lg'
          >Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src='/js/addProject.js'></script>