<section class='container projects'>
  {{! <img src=> }}
  <div class='project-list'>

    <div class='container text-center mt-5'>
      <h2>Projects</h2>
      <div class='row row-cols-2'>

        {{#each projects as |project|}}
          <div class='col'>
            <a
              class='container mt-5 btn btn-outline-light button btn-lg'
              href='/api/projects/{{project.id}}'
            >{{project.name}}</a>
          </div>
        {{/each}}

      </div>
    </div>
  </div>
</section>