<section class="container projects">
  {{!-- <img src=> --}}
  <div class="project-list">
    <h3></h3>
    <h2>Projects</h2>
      <ul>
        {{#each projects as |project|}}
        <a href="/api/projects/{{project.id}}"><li>{{project.name}}</li></a>
          
        {{/each}}
      </ul>
    <p></p>
    <p></p>
  </div>
</section>
