<section class="projects">
  {{!-- <img src=> --}}
  <div class="project-list">
    <h3></h3>
    <h2>Projects</h2>
      <ul>
        {{#each projects}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    <p></p>
    <p></p>
  </div>
</section>
