 <div class="navbar-section nav-top-container">
    {{> navbar}}
</div>
<div class="row gx-5">
    <div class="project-title container bdr col col-12 text-center p-3">
        <p>Title</p>
    </div>
    <div class="completed-tasks container bdr col col-5 p-3">
        <p>Completed Tasks</p>
    </div>
    <div class="progress-bar container bdr col col-5 p-3">
        <p>Progress Bar</p>
    </div>
    <div class="unfinished-tasks container bdr col col-5 p-3">
        <p>Unfinished Tasks</p>
    </div>
    
    <div class="employees container bdr col col-5 p-3">
        <p>Employees</p>
    </div>
</div>

<div class="new-task hide container bdr">
    <p>New Task</p>
</div>