<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <div class="form-group"></div>
    <h2>Sign Up</h2>
      <form class="signup-form" action="/api/users" method="post">
        
        <label for="username">Username:</label>
        <input type="text" name="username" id="username-signup" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password-signup" required>

        <button class="btn btn-danger" type="submit">sign up</button>
      </form>
  </div>
</body>
</html>

<script src="./js/login.js"></script>