<section class="tasks">
  {{!-- <img src=> --}}
  <div class="task-list">
    <h3></h3>
    <h2>Tasks</h2>
      <ul>
        {{#each tasks}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    <p></p>
    <p></p>
  </div>
</section>
